html {
    font-size: 62.5%; /* Equivale a 10px */
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; /* Equivale a 16 px */
}


body, html {
    height: 100%;
}
.btn-badcontrast {
    background-color: rgb(35, 160, 243);
    color: rgb(9, 37, 114);
    border-color: transparent;
}

.main {
    margin-top: 10px;
}

/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.w3schools.com/howto/photographer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.required {
    color:red;
}

[role="tooltip"] {
    display: none;
    background: #ccc;
    font-size: 1.2rem;
}
  
input:focus + [role="tooltip"] {  
    display: block;
}