.sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

html[dir=rtl] .SRonly {
    left: inherit;
    left: unset;
    right: -9999px;
}

