
<a class="skip-main" href="#main">Skip to main content</a>
<header>
  <app-nav (eyeChange)="handleEyeChange($event)"></app-nav>
  <h1 style="text-align:center">
    Frontend Magazine
  </h1>
</header>

<main class="contain" id="main" [appEyeBlur]="eyeValue">

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="sidebar">
      <div class="related-posts">
          <h2>Related Posts</h2>
          <ul>
              <li><a href="#">Related Post #1</a></li>
              <li><a href="#">Related Post #2</a></li>
              <li><a href="#">Related Post #3</a></li>
              <li><a href="#">Related Post #4</a></li>
              <li><a href="#">Related Post #5</a></li>
          </ul>
      </div>

      <div class="share-links">
          <h3>Share Links</h3>
          <ul>
              <li><a href="#">Share to Facebook</a></li>
              <li><a href="#">Share to Instagram</a></li>
              <li><a href="#">Share to Twitter</a></li>
          </ul>
      </div>
  </div>

</main>

<footer>
  <div class="contain">
    <p>Demo per Meetup - © 2019 Lorenzo Franceschini</p>
  </div>
</footer>